.history{
    background-size: cover;
    background-repeat:initial;
    background-position: center;
    width: 7.9rem; 
    height: 9.7rem;
    border-radius: 5%;
    margin: 0 .35rem;
}

.btnHeader{
    background-color: lightgray !important;
}

.contlogo{
    margin: 0 auto;
    margin-top: -.35rem;
}
 
a{
    text-decoration: none;
    color: black;
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.avatarperfil{
    width: 49px;
    height: 48px;
    display: inline;
}